@media screen and (max-width:840px){
  .navbar{
    flex-direction: column;
   
    background-color: green;
  }
  .left{
    display: flex;
    flex-direction: row;
    width: 40wv;
    
    
   align-items: center;
   justify-content: center;
  }
 
  .nav-list{
    flex-direction: column;
    width: 100vh;
    
    align-items: center;
    justify-content: center;
  }
  .burger{
    display: block;
  }
  .h-nav{
    height: 350px ;
    background-color: red;
    width: 100%;
  }
  .v-class{
    opacity: 0;
  }


 /* first page */
.first-content{
  justify-content: baseline;
  margin: auto;
 
}
  /* sec page */
  .second-content h2{
    padding: 20px 0;
  }
  .second-content{
    min-height: 180vh;
  }
  .topdish{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item1{
    max-height: 50vh;
    width: 80%;
    background-color: #ffffff;
    margin: 10px;
}
.item1 img{   
  width: 100%;
  height: 60%;

}
.item1 h4{
  padding: 7px;
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
}

.item1 p{
  padding: 5px ;
  font-family: 'Ubuntu', sans-serif;
}
.show{
  padding: 7px 25px;
}


  /* new page */
 .holder{
  width: 100%;
 }
 .node{
  max-height: 40vh;
 }
 .node .lefta img,
 .node .righta img {
 min-width: 100%;
 gap: 0;
 max-height: 40vh;
 object-fit:fill;         
 }
 .node h2{
  width:80%;
font-size: 30px;
}
 .node p{
  width: 80%;
  font-size: 15px;
 }
 .node button{
  padding: 7px 15px;
  font-size: 15px;
 }


/*  */
.four-container{
  min-height: 150vh;
  padding: 10px 0;
}
.part1{
  height: 104vh;
}
.fire{
  flex-direction: column;
}
.cat{
  height: 30px;
  width: 50px;
}






.part2{
  object-fit:fill;   
}
.part2 img{
  width: 100%;
  height: 50vh;
}
.upper{
  position: absolute;
  bottom: 300px;
  left: 0px;
}
.upper h2{
  font-size: 50px;
}
.upper p{
  font-size: 20px;
}

/* last 2 page */
.last{
  height: 50vh;
  
}
  /* footer part */
  footer{
    height: 89vh;
  }
  .end{
    flex-direction: column;
  }
  .main-left{
    text-align: left;
    width: 50%;
    margin: auto 60px;
  }
  .index{
    display: flex;
    flex-direction: row;
    margin: auto 25px;
    width: 100%;;
  }
  .main{ 
    padding: 15px 20px;
  }
  .mark{
    padding: 20px 0 15px;
    text-align: center;
    font-size: 12px;
  }
  

}


@media screen and (max-width:410px){






}


/* 
1130na v break

450 */
